<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class="index">
        <div class="card-container">
            <span class="pro">PRO</span>
            <img class="round" src="/images/profile.jpeg" alt="user" />
            <h3 class="user-name">Satria Imam</h3>
            <h6 class="user-location">Yogyakarta</h6>
            <p class="user-description">User  interface designer and <br/> front-end developer</p>
            <div class="buttons">
                <button class="primary">Message</button>
                <button class="primary ghost">Following</button>
            </div>
            <div class="skills">
                <h6 class="skills-title">Skills</h6>
                <ul class="skills-list">
                    <li>UI / UX</li>
                    <li>Front End Development</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>Node</li>
                </ul>
            </div>
        </div>
    </main>

    <footer class="footer-index">
        <p>@ Copyright 2024 Abrar.</p>
    </footer>
</body>
</html>