<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="login-signup">
    <div class="login-container">
        <img src="images/user.png" alt="GitHub Logo" class="logo">
        <h1>Sign In</h1>
        <p>Please enter your login and password!</p>
        <form action="/login" method="POST">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            <p class="center-text">Belum punya akun? <a href="/signup">Daftar di sini</a>.</p>
            <button type="submit" class="btn">Sign in</button>
        </form>
    </div>
</body>
</html>
